.wrapper-enter {
  margin-top: -6em;
  opacity: 0;  
}
.wrapper-enter.wrapper-enter-active {
  margin-top: 3em;
  opacity: 1;  
  transition: margin-top .5s ease-out, opacity .5s ease-out;
}
.badge-enter {
  margin-left: -75%;
  opacity: 0;
}
.badge-enter.badge-enter-active {
  margin-left: 0;
  opacity: 0.8;
  transition: margin-left .5s ease-in, opacity .5s ease-out;
}
.mainContent {
    margin-bottom: 3em;
    height: auto;
}
.mainContent-enter {
    opacity: 0;
    height: 0;
    margin: 0;
    transform: translate3d(100%, 0, 0);
}
.mainContent-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all .5s;
}
.mainContent-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.mainContent-leave-active {
    opacity: 0;
    transform: translate3d(0, 600px, 0);
    transition: all .5s;
}
